@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
    --font-poppins: 'Poppins', sans-serif;

  }
}

/* globals.css */

/* Apply Poppins font to all elements globally */
html, body {
  font-family: var(--font-poppins), sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Optional: You can also specify fallback fonts here */
body {
  font-family: var(--font-poppins), Arial, sans-serif;
  color: #1F1F1F;
}

/* styles/global.css */
.custom-datepicker-width {
  width: 300px;  /* Adjust this width as needed */
}

